$blue-water: #00C8DA;
$dark-yellow: #FCC255;
$pink-flower:#FF517E;
$just-white: #FFFFFF;


$dar-darken:#292929;
$na-darken:#1E1E1E;
$nan-darken:#161616;
$nand-darken:#262626;
$dar-grey:#6c707c;
$clear-grey: #BFBFBF;
$cler-grey: #929292;
$clea-grey:#4E4E4E;
$clear-white:#EBEBEB;




$font-family: Arial, helvetica, sans-serif;
$font-consolata: "Inconsolata",monospace;
$font-calabri:calibri;