@import 'variables';
@import 'mixins';
@import'reset';

@import './layout/responsive';

#main{
	padding:30px 50px;
	position:relative;
	width:100%;
	height: 100vh;
	box-sizing: border-box;
	background-size: 1330px;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-image: url("../../dist/img/ovaopa.png ");
	background-color: $just-white;
}

/*-- Preloader section start --- */
.preloader{
    background-color: $just-white;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2147483647;
    width: 100%;
    height: 100%;
}

.status{
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	@include box-sizing(translate(-50%, -50%));
}

.cerrar{
    opacity: 0;
    visibility: hidden;
}

/*--- end Preload --*/

nav{
	display:flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: $font-family;
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	box-sizing: border-box;
	padding: 10px 50px;
	background-color:$just-white;
	box-shadow:2px 2px 12px rgba(0,0,0,0.05); 
	z-index: 1;
}

.menu{
	display: flex;
	&li a{
		padding: 10px 15px;
		color:$cler-grey;
		font-size: 12px;
		
	}
}

.logo{
	font-size: 25px;
	font-weight: bold;
	color:$dar-darken;
}
.toggle{
	display: none;
}

.link{
    text-decoration: none;
    color:$clea-grey;
    padding: 5px;
    font-size: 15px;
    text-transform: uppercase;
    position: relative;
}

.link:after{
    content: "";
    width: 0;
    height: 1px;
    background-color:$blue-water;
    position: absolute;
    bottom: 0;
    right: 10%;
    transition: all .9s;
    will-change: width;
}

.link:hover:after{
  width: 100%;
  right: 0;
}

.name{
	font-family: $font-calabri;
	width: 500px;
	position: absolute;
	left: 20%;
	top: 50%;
	transform: translate(-20%,-50%);
}
.name p:nth-child(1),.name .details{
	color:$dar-grey;
	font-size: 16px;
}

/* === animation detail=== */

.animate-text{
	font-family: $font-consolata;
	font-size: 3.2rem;
	letter-spacing: 0.075rem;
	color: $blue-water;
	&:after{
		content: "|";
		font-size: 2rem;
		font-family: $font-consolata;
		animation-name: parpadeo;
		animation-duration: 1s;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
	}
}

@keyframes parpadeo{
	0%{
		opacity: 1;
	}
	20%{
		opacity: 1;
	}
	25%{
		opacity: 0;
	}
	90%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

/* === end animation details == */
.name h1{
	font-family:$font-calabri;
	font-size: 40px;
	margin:0px;
	letter-spacing: 3px;
	color:$dar-darken;
}
.cv-btn{
	width:200px;
	height: 45px;
	display: flex;
    margin-top: 90px;
	justify-content: center;
	align-items: center;
	background-color: $dark-yellow;
    border-radius: 30px,;
	color:$just-white;
	&:hover{
		background-color:$pink-flower;
		transition: all ease 0.5s;
	}
}

.black-line {
  align-self: end;
  width: 50%;
  height: 15%;
  margin-bottom: 4em;
  position: absolute;
	bottom:0px;
	left: -3%;
	border-right: 1px solid  rgba(41,41,41,0.30);

    &:after{
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 11px 11px 0 11px;
		border-color: $dar-darken transparent transparent transparent;
		right: -.7em;
		bottom: -2px;
	  }
}


/* === Social media === */
.social{
	position: absolute;
	left: 50px;
	bottom: 50px;
	display: flex;
	
	& a{
		margin: 10px 12px;
	}
	& i{
		color:$cler-grey;
		font-size: 19px;
	} a:hover i{
		color:$blue-water;
		transition: all ease 0.5s;
	}
}

/* === End social media ===*/

/* === about my ===*/
#about{
	width:100%;
	height: 100vh;
	background-color:$nan-darken;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 5% 0px 5%;
	position: relative;
}
.about-text{
	font-family: $font-calabri;
	width: 50%;
	& h1{
		font-size: 5rem;
		color:$blue-water;
	}
	& h2{
		font-size: 3rem;
		color:$just-white;
		font-weight: 400;
	}
    & h1,h2{
	margin: 0px;
	padding: 0px;
   }
   & p{
	font-size: 1.2rem;
	color:rgba(255,255,255,0.90);
	
 }
}
/* === End about my ==*/

/* == Secction my porfolio ==*/
#portfolio{
	width:100%;
	height:100vh;
	box-sizing: border-box;
	font-family: $font-calabri;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 40px ;
    background-color: $just-white;
	
}

.s-heading{
	text-align: center;
	margin: 20px 0px;
	& h1{
		color:$na-darken;
		font-size: 3rem;
	}
	& p{
		color:$clea-grey;
		font-size: 1rem;
	}
}
.s-box{
	background-color: $nand-darken;
	width:350px;
	height: 500px;
	margin: 20px;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
	position: relative;
}
.portfolio{
	display: flex;
	justify-content: center;
	align-content: center;

	
}
.s-b-img{
	width: 100%;
	height: 70%;
	& img{
		width:100%;
		height: 100%;
		
	}
	
}

.s-b-text{
	width: 100%;
	height: 30%;
	background-color:$na-darken;
	display:flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	& a{
		margin: 0px;
		color:$just-white;
		font-size: 1.1rem;
		font-family: calibri;
		display: block;
		display: -webkit-box;
		max-width: 80%;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	& a:hover{
		color:rgba(255,255,255,0.50)
	}
}

.s-type{
	font-family:$font-calabri;
	color:$just-white;
	background-color: $nan-darken;
	padding: 10px 15px;
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	border-radius: 0px 0px 10px 10px;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.s-box:hover{
	transform:translateY(-10px);
	transition: all ease 0.3s;
	
}

#contact-btn{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	height: 200px;
	background-color: $just-white;
	margin: 20px 0px;
	box-sizing: border-box;
	box-shadow:2px 0px 20px rgba(0,0,0,0.4); 
      & button{
		color:$just-white;
		font-size: 1rem;
		font-family: calibri;
		width:150px;
		height: 40px;
		margin: 10px;
		background-color: $na-darken;
		border: none;
		outline: none;
		box-shadow: 2px 5px 6px rgba(0,0,0,0.2);
	}
	& button:hover{
		background-color: $blue-water;
		color:$na-darken;
		transition: all ease 0.5s;
		font-weight: bold;
	}

}
.c-b-heading{
	font-size: 2rem;
	color:$na-darken;
	font-family: $font-calabri;
	margin: 10px;
	padding: 5px;
	letter-spacing: 4px;
	border-bottom: 2px solid $na-darken;
	
}


#contact-form{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: center;
	align-items: center;
	& form{
		display: flex;
		width: 70%;
		height: 60vh;
		background-color: $na-darken;
		box-shadow: 2px 12px 20px rgba(0,0,0,0.2);
		border: 1px solid rgba(255,255,255,0.01)
	}	
}

.label-form{
	color: $just-white;
	font-family: $font-consolata;
}

.contact-left{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-right{
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-left: 1px solid rgba(255,255,255,0.08);
}
.contact-right button{
	width: 100%;
	height: 50px;
	background-color: $blue-water;
	font-weight: bold;
	outline: none;
	border: none;
	margin: 0px;
	color:$nan-darken;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;

}
.c-l-heading{
	font-family: $font-calabri;
	color:$just-white;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
	
}

.f-name,.f-email{
	display: flex;
	flex-direction: column;
	font-family: $font-calabri;
	
}
.f-name font,.f-email font{
	color:$clear-grey;
	font-size: 22px;
}
.f-name input,.f-email input{
	height: 30px;
	width:250px;
	border: none;
	outline: none;
	background-color:transparent;
	border-bottom: 1px solid $cler-grey;
	color:$just-white;
	margin: 10px 0px;
}
.f-email input::placeholder,
.f-name input::placeholder{
	opacity: 0.5;
	letter-spacing: 1px;
}
.f-email input:focus,
.f-name input:focus{
	border-bottom: 1px solid $blue-water;
	transition: all ease 0.5s;
}.message font{
	font-size: 18px;
	color:$clea-grey;
	font-family: $font-calabri;
	
}
.message{
	margin: 20px;
}
.contact-right textarea{
	width: 100% !important;
	height: 320px !important;
	border: none;
	outline: none;
	background-color:transparent;
	box-sizing: border-box;
	color:$clear-white;
	font-size: 16px;
}
.contact-right textarea::placeholder{
	color:$clear-white;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: $font-calabri;
}
.contact-right button:active{
	transform: scale(1.04);
	transition: all ease 0.1s;
}


footer{
	padding: 0.9375rem 1.875rem;
	background-color: $dar-darken;
	width: 100%;
}

.ft-legal{
	margin: 0.125rem 0.625rem;
	white-space: nowrap;
	color: $just-white;
	font-size: 1.25rem;
	font-family: $font-calabri;
	text-align: center;
}
